<div class="filter">
    <div class="border-bottom">
        Reservar hotel
    </div>
    <label for="placeInput">
        Destino <span class="error-color">*</span>
    </label>
    <div>
        <input
            id="placeInput"
            placeholder="Busca de destino"
            nz-input
            [(ngModel)]="inputValue"
            (input)="onInput($event)"
            [nzAutocomplete]="auto"
        />
        <nz-autocomplete nzBackfill #auto [compareWith]="compareFun">
            <nz-auto-option *ngFor="let opt of options" [nzValue]="opt" [nzLabel]="opt.name + ', ' + opt.state.shortname">{{opt?.name}}, {{opt?.state?.name}}</nz-auto-option>
        </nz-autocomplete>
    </div>
    <div class="align-right"><button (click)="submitFilter()" class="btn radius-50" type="button">{{ buscarBtnLabel }}</button></div>
</div>
<div class="flex space-between m-t-20">
    <div class="breadcrumb">
        Início > Hotéis > Hospedagem em Belo Horizonte
    </div>
    <div class="order-by">
        Organizar por
        <select name="order" id="order" [(ngModel)]="sortBy" (ngModelChange)="submitOrder()">
            <option selected value="recomendado">Recomendados</option>
            <option value="avaliado">Melhor avaliados</option>
        </select>
    </div>
</div>